@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

a {
	font-family: 'Rubik', sans-serif;
}

body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	direction: rtl;

}

body {
	background-color: #e3e3e3!important;	
}

.header-bg {

  /* Full height */
  	height: 20vw; 

  	background-color: #f0f0f0;

  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

  	display: flex;
  	justify-content: center;

  	margin-top: 55px;
}

.header-bg img {
	box-shadow: 12px 0 35px -4px #d4d4d4, -12px 0 35px -3px #d4d4d4;
	height: 100%;
}

.about-pc {
	width: 100%;
	height: 65vh;
	display: flex;
	justify-content: center;
	padding-top: 50px;
	flex-direction: row;
}

.about-block {
	display: flex;
	height: 100%;
	width: 65%;
	justify-content: center;
}

.about-text {
	margin-right: 6%;
	width: 50%;
}

.about-sec-title em h4 {
	font-size: 1.7vw;
    border-bottom: 2px dotted black;
    width: fit-content;
}

.about-article {
	font-size: 1.06vw;
	line-height: 1.6;
}

.about-img {
	text-align: left;
	width: 50%;
}

.about-img img {
	width: 100%;
	object-fit: cover;
}

.fas, .fab {
	color: #99c0ff;
}

.search-width {
	width: 40vw;
}


.side-follow {
	border-radius: 4px;
    overflow: hidden;
    position: fixed;
    left: 20px;
    top: 50%;
    width: 40px;
    list-style: none;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px;
    transform: translateY(-50%);
}

.side-follow li{
	width: 40px;
    height: 40px;
    text-align: center;
}

.side-follow li a {
    width: 100%;
    height: 100%;
    transition: all .2s;
    align-items: center;
}

.side-follow-facebook {
	font-size: 35px;
}

.side-follow-instagram {
	font-size: 40px;
}

.side-follow-whatsapp {
	font-size: 39px;
}

.side-follow-phone {
	font-size: 35px;
}

.shop {
	width: 100%;
	display: flex;
}

.fire-products {
	width: 80%;
	padding: 2%;
	padding-top: 3%;
	margin-right: auto;
	margin-left: auto;
	height: fit-content;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fire-products-title {
	text-align: center;
}

.all-products {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: fit-content;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product {
	border: 2px solid #8d9eb5;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 1%;
	background-color: #ebeced;
}

.sale-sign {
	z-index: 200;
    position: absolute;
    width: 50px;
    margin-bottom: -260px;
    margin-right: -65px;
}

.sale-sign img {
	width: 100%!important;
	height: auto!important;
}

.product img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 3%;
	transform: scale(1);
	transition: 0.5s ease-out transform;
}

.product-img:hover {
	transform: scale(1.05);
}

.product-bottom {
	direction: rtl;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	text-align: center;
}

.product-name {
	font-size: 20px;
}

.product-price {
	font-size: 20px;
}

.product-link {
	text-decoration: none;
}

.js-image-zoom__zoomed-image {
	background-color: white!important;
	background-size: 600px 600px!important;
}


@media (max-width: 1702px) {
	.search-width {
		width: 32vw;
	}
}

@media (max-width: 1565px) {
	.social-link {
		font-size: 20px!important;
	}
}

@media (max-width: 1501px) {
	.search-width {
		width: 25vw;
	}
}

@media (max-width: 1361px) {
	.search-width {
		width: 24vw;
	}
}

@media (max-width: 1343px) {
	.search-width {
		width: 22vw;
	}
}

@media (max-width: 1309px) {
	.search-width {
		width: 21vw;
	}
}

@media (max-width: 1292px) {
	.search-width {
		width: 20vw;
	}
}

@media (max-width: 1282px) {
	.social-link {
		font-size:17px;
	}
}

@media (max-width: 1276px) {
	.search-width {
		width: 19vw;
	}
}

@media (max-width: 1261px) {
	.nav-link {
		font-size: 1.2vw;
	}
}

@media (max-width: 1135px) {
	.social-link{
		width: 45%;
	}
}

@media (max-width: 1127px) {
	.navbar-nav {
		padding-inline-start: 0;
	}
}

@media (max-width: 991px) {
	.nav-link {
		font-size: 1rem;
	}


	.search-width {
		width: 100%;
	}

	.about-pc {
		height: fit-content;
		flex-direction: column;
	}

	.socialmedia{
		width: 100%;
	}

	.social-link{
		font-size: 35px;
	}

	.about-text {
		width: 80%;
	}

	.about-top, .about-block {
		width: 100%;
	}

	.about-sec-title em h4 {
		font-size: 6vw;
	}

	.about-article {
		font-size: 4vw;
	}
}

@media (max-width:817px) {
	.social-link{
		width: 50%;
	}
}

@media (max-width:715px) {
	.social-link{
		width: 60%;
	}
}

@media (max-width: 668px) {
	.fire-products {
		width: 95%;
	}

	.side-follow {
		left: 0;
	}
}

@media (max-width: 558px) {
	.product {
		padding: 10px;
	}
}

@media (max-width:572px) {
	.social-link{
		width: 60%;
	}
	.header-bg {
		height: 43vw;
	}
}

@media (max-width: 512px) {
	.product-img {
		width: 180px!important;
	}
}

@media (max-width: 412px) {
	.product-img {
		width: 180px!important;
	}
}

@media (max-width: 466px) {
	.fire-products {
		width: 97%;
		padding: 0;
	}

	.product {
		margin: 0;
		border: 1px solid #8d9eb5;
		background-color: none;
	}
	.product-img {
		width: 175px!important;
		height: 175px!important;
	}
	
}

@media (max-width: 416px){
	.product{
		border: none;
		border-bottom: 1px solid #8d9eb5;
	}
	.all-products:nth-child(2n) .product {
		border-left: 1px solid #8d9eb5;
	}
	.product-bottom {
		grid-template-rows: none;
	}
	.product-img{
		width: 150px!important;
		height: 150px!important;
	}
}

@media (max-width: 393px){
	.product {
		margin: 1%;
		border: 1px solid #8d9eb5;
	}

	.product-img{
		width: 140px!important;
		height: 140px!important;
	}

	.product-price {
    	font-size: 15px;
	}
}

@media (max-width: 347px){
	.product-img {
		width: 110px!important;
		height: 110px!important;
	}

	.sale-sign {
		width: 40px;
		margin-right: -40px;
	}

}

@media (max-width: 298px) {
	.product-img {
		width: 100px!important;
		height: 100px!important;
	}
}
