@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

@font-face {
  font-family: anka;
  src: url(../fonts/anka/ankaclm-bold-webfont.woff);
}

a {
	font-family: 'Rubik', sans-serif;
}

body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	direction: rtl;
}

.header-bg {

  /* Full height */
  	height: 50%; 

  	background-color: #f0f0f0;

  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

  	display: flex;
  	justify-content: center;
}

.header-bg img {
	box-shadow: 12px 0 35px -4px #d4d4d4, -12px 0 35px -3px #d4d4d4;
}

nav {
	background-color: #8d9eb5;
	direction: rtl;
}

.nav-item {
	border-left: 1px solid black;
}

.about-pc {
	width: 100%;
	height: 100vh;
	background-color: #e3e3e3;
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.about-block {
	display: flex;
	height: 100%;
	width: 65%;
	justify-content: center;
}

.about-top {
	width: 80%;
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	justify-content: center;
}

.about-text {
	margin-right: 6%;
	width: 50%;
}

.about-title h1 {
	color: #99c0ff;
	/*font-family: anka, sans-serif;*/
	font-size: 3vw;
}

.about-sec-title em h4 {
	font-size: 1.7vw;
    border-bottom: 2px dotted black;
    width: fit-content;
}

.about-article {
	font-size: 1.06vw;
	line-height: 1.6;
}

.about-img {
	text-align: left;
	width: 50%;
}

.about-img img {
	width: 100%;
	object-fit: cover;
}

.search-width {
	width: 40vw;
}

@media (max-width: 1299px) {
	.search-width {
		width: 32vw;
	}
}

@media (max-width: 1146px) {
	.search-width {
		width: 25vw;
	}
}

@media (max-width: 1039px) {
	.search-width {
		width: 24vw;
	}
}

@media (max-width: 1025px) {
	.search-width {
		width: 22vw;
	}
}

@media (max-width: 999px) {
	.search-width {
		width: 21vw;
	}
}

@media (max-width: 991px) {
	.search-width {
		width: 100%;
	}

	.about-pc {
		height: fit-content;
	}

	.about-text {
		width: 80%;
	}

	.about-top, .about-block {
		width: 100%;
	}

	.about-title h1 {
		font-size: 10vw;
	}

	.about-sec-title em h4 {
		font-size: 6vw;
	}

	.about-article {
		font-size: 4vw;
	}
}