{% extends 'shop/base.html' %}


{% block head %}

	{% load static %}
	<link rel="stylesheet" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" href="{% static '/css/navbar.css' %}">

{% endblock %}


{% block body %}

<script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>

	{% include 'shop/navbar.html' %}
	
	{% load static %}
	<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="{% static 'images/product_images/Screenshot_2020-11-12_210427.png' %}" class="d-block h-100 carousel-img" alt="...">
	    </div>
	    <div class="carousel-item">
	      <img src="{% static 'images/header/header-image.png' %}" class="d-block h-100 carousel-img" alt="...">
	    </div>
	    <div class="carousel-item">
	      <img src="{% static 'images/header/header-image.png' %}" class="d-block h-100 carousel-img" alt="...">
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div>

	<div class="about-pc">

				<div class="about-text">

					<div class="about-sec-title">
				
						<em><h4>בבעלותה של סבטלנה קוזמינוב,</h4></em>
				
					</div>


					<div class="about-article">
				
						<p>
							מציעה מגוון רחב של מתנות, מארזים, מיתוגים, שולחנות מתוקים ובלונים   לכל כיס ולכל אירוע: 
ימי הולדת, בריתות, בת ובר מצווה, אירועים משפחתיים ואירועים עיסקיים.
						
							
						<p>

							השירות ניתן ללקוחות פרטיים ועיסקיים.
						
						</p>

						<p>
							בהזמנות גדולות ניתן לבנות מארזים בבחירה אישית.
						</p>
							
						<p>
							המטרה העיקרית היא לשמח אותכם ואת יקיריכם ביצירת המתנה המושלמת והמקורית ביותר שיש תוך מתן שירות אישי, סבלני ומקצועי לכל לקוח ולקוח ולבצע זאת על ידי שימוש במוצרים איכותיים בלבד.

						</p>

						<p>

							עם E.L.A Gifts כל אירוע שלכם יהפוך ליותר שמח😊

						</p>
				
					</div>

				</div>


	</div>

	<div class="categories">
		<ul class="categories-list">
			{% for category in categories %}
				<a href="{% url 'category' category.id %}">
					<li class="category">
						<p>
							{{ category.name }}
						</p>
					</li>
				</a>

			{% endfor %}
		</ul>
	</div>

	<div class="shop">


			<div class="fire-products">
				
				<h3 class="fire-products-title border-primary">המוצרים החמים!!!</h3>

				<div class="all-products">

					{% for i in hot_products %}
						<a href="{% url 'show-product' i.id %}" class="product-link">

							<div class="product" >
								{% if i.sale %}

									<span style="width:fit-content; left: 23%; top: -15px;" class="position-relative translate-middle badge rounded-pill bg-primary">מבצע
	 									
	  								</span>

  								{% endif %}

								<img src="{{ i.image.url }}" class="product-img">

								<div class="product-bottom">

									<div class="product-name">
										<h3>{{ i.name }}</h3>
									</div>

									<div class="product-price">
										{% if i.sale %}

										<div>
											<s>
												<span class="product-currensy">&#8362;</span>
												<span class="product-price-value"> {{ i.price }} </span>
											</s>

											<br>

											<span class="product-currensy">&#8362;</span>
											<span class="product-price-value"> {{ i.sale_price }} </span>
										</div>
										{% else %}

											<span class="product-currensy">&#8362;</span>
											<span class="product-price-value"> {{ i.price }} </span>

										{% endif %}
									</div>

								</div>
								
							</div>
						</a>
					{% endfor %}


				</div>

			</div>

	</div>

	<br><br><br><br>
<!--
<div id="img-container" style="width: 490px; height: 490px">
	{% load static %}
	<img src="{% static 'product_images/arduino_uno.png' %}" alt="">
</div>

<script>

	new ImageZoom(document.getElementById("img-container"), {
    width: 490,
    height: 490,
    zoomWidth: 490,
    scale: 0.3,
    offset: {vertical: 0, horizontal: 10},
    zoomStyle: "width: 490px; height: 490px;",
    zoomPosition: "left",
	});

</script>
-->



<!--
		<br>
		<div class="catalog">
			{% for i in products_list %}
				<div class="catalog__item bg-dark bg-gradient" dir="rtl">
					<div class="product ">
						<div>
							<img src='{{ i.image.url }}' class="product__image">
						</div>
						<div class="product__content">
							<h3 class="product__title">{{ i.name }}</h3>
								<p class="product__description">{{ i.description }}</p>
						</div>
						<footer class="product__footer">
							<div class="product__bottom">
								<div class="product__price">
									<span class="product__currency">&#8362;</span>
									<span class="product__price-value">{{ i.price }}</span>
								</div>
								<button class="product__btn"><a href="">קרא עוד</a></button>
							</div>
						</footer>		
						<br>
						<br>
						<br>
					</div>
				</div>
			{%endfor%}
		</div>			
-->



{% endblock %}

