{% extends 'shop/base.html' %}


{% block body %}

	<div class="header-bg">
		


	</div>

    {% include 'shop/navbar.html' %}
	
	<div class="about-pc">

		<div class="about-block">

			<div class="about-top">

				<div class="about-img">

					{% load static %}
					<img src="{% static 'header/logo.png' %}"/>
				
				</div>


				<div class="about-text">
				
					<div class="about-title">
				
						<em><h1>א.ל.ה אריזות</h1></em>
				
					</div>


					<div class="about-sec-title">
				
						<em><h4>בבעלותה של סבטלנה קוזמינוב,</h4></em>
				
					</div>


					<div class="about-article">
				
						<p>
מציעה מגוון רחב של מתנות, מארזים, מיתוגים, שולחנות מתוקים ובלונים   לכל כיס ולכל אירוע: 
ימי הולדת, בריתות, בת ובר מצווה, אירועים משפחתיים ואירועים עיסקיים.

השירות ניתן ללקוחות פרטיים ועיסקיים.

בהזמנות גדולות ניתן לבנות מארזים בבחירה אישית.		
המטרה העיקרית היא לשמח אותכם ואת יקיריכם ביצירת המתנה המושלמת והמקורית ביותר שיש תוך מתן שירות אישי, סבלני ומקצועי לכל לקוח ולקוח ולבצע זאת על ידי שימוש במוצרים איכותיים בלבד.

עם E.L.A Gifts כל אירוע שלכם יהפוך ליותר שמח.😊				</p>
				
					</div>

				</div>
				

			</div>

		</div>

	</div>


{% endblock %}

