<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">דף בית</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">מארזי לידה</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">עיצוב בלונים</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">בלוני הפתעה</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">שולחנות מתוקים</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">הדפסה בגדים ובובות</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">בובות וכריות</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">מיתוג שוקולדים</a>
        </li>

      </ul>

      <form class="d-flex search-width">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    
    </div>
  </div>
</nav>