{% extends 'shop/base.html' %}

{% block head %}

	{% load static %}
	<link rel="stylesheet" href="{% static '/css/product.css' %}">
	<link rel="stylesheet" href="{% static '/css/navbar.css' %}">

{% endblock %}

{% block body %}


	{% include 'shop/navbar.html' %}



	<div class="product-info-container">

		<div class="image-container">
			<img src="{{ product.image.url }}" class="product_img">
		</div>

		<div class="product-info">
			<h1 class="product-name">{{ product.name }}</h1>
			<div class="product-price">
				<h3>מחיר:</h3>
				{% if product.sale %}
				
					<div>
						<s>
							<span class="product-currensy">&#8362;</span>
							<span class="product-price-value"> {{ product.price }} </span>
						</s>

						<span class="product-currensy">&#8362;</span>
						<span class="product-price-value"> {{ product.sale_price }} </span>
					</div>

				{% else %}

					<span class="product-currensy">&#8362;</span>
					<span class="product-price-value"> {{ product.price }} </span>

				{% endif %}

			</div>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
			<p class="count">כמות המוצר:      {{ product.count }}</p>

			<p class="product-id">קוד זיהוי:    {{ product.id }}</p>

		</div>

	</div>



{% endblock %}