{% extends 'shop/base.html' %}

{% block head %}

	{% load static %}
	<link rel="stylesheet" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" href="{% static '/css/navbar.css' %}">

{% endblock %}


{% block body %}
	
	{% include 'shop/navbar.html' %}

	<h1>תוצאות חיפוש "{{ searched }}"</h1>

	<div class="categories" style="margin-top: 138px;">
		<ul class="categories-list">
			{% for category in categories %}
				<a href="{% url 'category' category.id %}">
					<li class="category">
						<p>
							{{ category.name }}
						</p>
					</li>
				</a>

			{% endfor %}
		</ul>
	</div>

		<div class="shop">


			<div class="fire-products">
				
				<h3 class="fire-products-title border-primary">תוצאות חיפוש "{{ searched }}"</h3>

				<div class="all-products">

					{% for i in products %}
						<a href="{% url 'show-product' i.id %}" class="product-link">

							<div class="product" >
								{% if i.sale %}

									<span style="width:fit-content; left: 23%; top: -15px;" class="position-relative translate-middle badge rounded-pill bg-primary">מבצע
	 									
	  								</span>

  								{% endif %}

								<img src="{{ i.image.url }}" class="product-img">

								<div class="product-bottom">

									<div class="product-name">
										<h3>{{ i.name }}</h3>
									</div>

									<div class="product-price">
										{% if i.sale %}

										<div>
											<s>
												<span class="product-currensy">&#8362;</span>
												<span class="product-price-value"> {{ i.price }} </span>
											</s>

											<br>

											<span class="product-currensy">&#8362;</span>
											<span class="product-price-value"> {{ i.sale_price }} </span>
										</div>
										{% else %}

											<span class="product-currensy">&#8362;</span>
											<span class="product-price-value"> {{ i.price }} </span>

										{% endif %}
									</div>

								</div>
								
							</div>
						</a>
					{% endfor %}


				</div>

			</div>

	</div>

{% endblock %}